*{
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    
    background-color: black;
}
.logo{
    width: 300px;
    padding-bottom: px;
}
main{
    height: 100%;
    background-image: url('imagens/luz-fundo.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
}
.container{
    padding: 30px;
    height: 100vh;
}

.roda-pe{
    padding-top: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.493);
}
.container .ops{
    
    margin: auto;
    background-color: rgba(0, 0, 0, 0.425);
    border: 1px solid #ff004c;
    border-radius: 50px 0px 50px 0px;
    padding: 10px;
    box-shadow: -7px 5px 6px rgba(0, 0, 0, 0.568);

}
.container .ops{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .op-tres{
    
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    

}
.video-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .op-tres-one{
    display: flex;
    flex-direction: column;
}
.video{
    padding: 30px;
}
.video iframe{
    width: 300px;
    height: 200px;
}
.container .op-tres a{
    box-sizing: border-box;
    padding: 20px 50px;
    margin: 10px 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    box-shadow: 2px 2px 10px #ff004c;
    border: 1px solid #ff004c;
    text-decoration: none;
    transition: 0.1s;
}
.container .op-tres a:hover{

    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #ff004c96;
    box-shadow: inset 2px 2px 10px #070203;
    border: 1px solid transparent;
    text-decoration: none;

}
footer{
    padding: 20px;
}
@media (max-width: 599px) 
  {
    .container .op-tres-one{
        padding-bottom: 40px;
    }
    .container .op-tres a{
        padding: 20px 80px;
        margin: 10px 40px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.61);
        box-shadow: 2px 2px 10px #ff004c;
        border: 1px solid #ff004c;
        text-decoration: none;
        transition: 0.1s;
    }
    .video-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        height: 100%;
        background-image: url('imagens/luz-fundo.png');
        background-position: center;
        background-size: cover;
    }
   
    .container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .logo{
        width: 200px;
      }
  }
  @media (min-width: 600px) { 
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .ops{

    }
   }
